
/* ---- FRAMEWORK ---- */

li.flink {
	list-style-type: none;
	background-repeat: no-repeat;
	background-position: 0px center;
	background-size: Auto 16px;
	
	margin-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 24px; 
}

