@import url(main.css);

/* TODO: Account for .se, .co.uk, etc */
li.google_com	{ background-image: url(); }
li.facebook_com	{ background-image: url(http://facebook.com/favicon.ico); }
li.twitter_com 	{ background-image: url(http://twitter.com/favicon.ico); }
li.youtube_com 	{ background-image: url(http://youtube.com/favicon.ico); }
li.skype_com	{ background-image: url(http://skype.com/favicon.ico); }


