@import url(main.css);

/* TODO: Account for .se, .co.uk, etc */
li.google_com	{ background-image: url(http://google.com/images/google_favicon_128.png); }
li.facebook_com	{ background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/yl/r/H3nktOa7ZMg.ico); }
li.twitter_com 	{ background-image: url(https://abs.twimg.com/favicons/favicon.ico); }
li.youtube_com 	{ background-image: url(http://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico); }
li.skype_com	{ background-image: url(http://www.skype.com/favicon.ico); }


