@import url(main.css);

/* ---- Programming and web development ---- */
li.kirupa_com			{ background-image: url(http://kirupa.com/orange.ico); }
li.jacksondunstan_com	{ background-image: url(http://jacksondunstan.com/favicon.ico); }
li.kernel_org 			{ background-image: url(https://www.kernel.org/theme/images/logos/favicon.png); }
li.github_com			{ background-image: url(http://github.com/favicon.ico); }
li.git-scm_com			{ background-image: url(http://git-scm.com/favicon.png); }

